.header{
    background-color: #f2f2da;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.imgDimension{
    height: 50px;
    width: 50px;
    margin-right: 0;
}
.logoFont{
    font-size: 1.7rem;
    font-weight: 900;
    padding-top: 2%;
    padding-right: 5%;
}