<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>Garage Plug Home</title>
</head>

<body>
  <div class="divForLogo">
    <img src="../../../assets/garageplug-logo.jpg" class="imgDimension" />
    <div>
      <h1 class="logoFont">GaragePlug</h1>
      <p class="subHeading">DETAILING CENTER</p>
    </div>
  </div>
  <div class="d-grid gap-2 col-4 mx-auto services-div">
    <button type="button" class="btn btn-outline-dark cstm-btn" [routerLink]="['/services']">CONTINUE</button>
  </div>
</body>

</html>